.navbar {
  padding: 5px 1em;
  z-index: 100000;
  height: 60px;
}

.navbar.navbar-light .navbar-toggler {
  border: 0;
}

.navbar .container {
  position: relative;
}

.navbar .container .navbar-brand {
  font-family: oswald, serif, times;
  font-size: 2em;
  line-height: 1;
  color: #333333;
}

@media all and (max-width: 576px) {
  .navbar .container .navbar-brand {
    font-size: 1.5em;
  }
}

.navbar .container .navbar-brand img {
  height: 44px;
  margin-top: -4px;
}

@media all and (max-width: 576px) {
  .navbar .container .navbar-brand img {
    height: 32px;
  }
}

.navbar .container .navbar-collapse {
  position: absolute;
  top: 50px;
  background-color: #f6f6f6;
  right: 0;
}

.navbar .container .navbar-nav .nav-link {
  color: #333333;
  text-transform: uppercase;
  font-size: 2em;
  padding: .4em 1.5em;
  font-family: oswald, serif, times;
}

@media all and (max-width: 576px) {
  .navbar .container .navbar-nav .nav-link {
    font-size: 1.5em;
  }
}

.navbar .container .navbar-nav .nav-link img {
  height: .75em;
  margin-top: -.15em;
}

@media all and (max-width: 576px) {
  .navbar .container .navbar-nav .nav-link img {
    height: .65em;
  }
}
